<h2>Selectors Nested : Countries</h2>
<hr />

<form [formGroup]="form" (ngSubmit)="save()">
  <!-- select continent -->
  <div class="form-control">
    <label for="continent">Continent:</label>
    <select formControlName="region" id="continent">
      <option value="">-- Select Continent --</option>
      <option *ngFor="let item of regions" [value]="item | lowercase">{{ item }}</option>
    </select>
  </div>

  <!-- select country -->
  <div class="form-control">
    <label for="country">Countries:</label>
    <select formControlName="country" id="country">
      <option value="">-- Select Country --</option>
      <option *ngFor="let item of countries" [value]="item?.cca3">{{ item?.name.common }}</option>
    </select>
  </div>

  <!-- select frontier -->
  <div class="form-control">
    <label for="frontier">Frontiers:</label>
    <select formControlName="frontier" id="frontier">
      <option value="">-- Select Frontier --</option>
      <option *ngFor="let item of frontiers" [value]="item">{{ item }}</option>
    </select>
  </div>

  <button type="submit">Send Form</button>
</form>

<hr />
<pre>Form Valid: {{ form.valid }}</pre>
<pre>Form Resut: {{ form.value | json }}</pre>
