<h2>Selectors Nested : Countries</h2>
<hr />

<form [formGroup]="form" (ngSubmit)="save()">
  <!-- select continent -->
  <div class="form-control">
    <label for="continent">Continent:</label>
    <select formControlName="continent" id="continent">
      <option value="">-- Select Continent --</option>
      <option *ngFor="let item of regions" [value]="item | lowercase">{{ item }}</option>
    </select>
  </div>

  <button type="submit">Send Form</button>
</form>

<hr />
<pre>Form Valid: {{ form.valid }}</pre>
<pre>Form Resut: {{ form.value | json }}</pre>
