<h2>Try Directives</h2>
<hr />
<p>Directive to show personalized validations</p>

<h3>Add Product</h3>

<form [formGroup]="form" (ngSubmit)="save()">
  <div class="form-control">
    <label for="name">Name</label>
    <input type="text" formControlName="name" placeholder="Name product" />
    <p class="error" *ngIf="validateField('name')">Name is required</p>
  </div>

  <button type="submit" [disabled]="form.invalid" class="btn-success">Add Item</button>
</form>

<hr />
<pre>Form Valid: {{ form.valid }}</pre>
<pre>Form Name Errors: {{ form.controls?.name.errors | json }}</pre>
<pre>Form Data: {{ form.value | json }}</pre>
