<h2>Reactive: Switches</h2>
<hr />

<form [formGroup]="form" (ngSubmit)="onSave()">
  <div class="form-control">
    <label for="flex-radio-1">Male*</label>
    <input type="radio" formControlName="gender" value="M" id="flex-radio-1" />
  </div>
  <div class="form-control">
    <label for="flex-radio-2">Female*</label>
    <input type="radio" formControlName="gender" value="F" id="flex-radio-2" />
  </div>

  <hr />

  <div class="form-control">
    <label for="flex-checkbox-1">I want notifications.</label>
    <input type="checkbox" formControlName="notifications" id="flex-checkbox-1" />
  </div>

  <div class="form-control">
    <label for="flex-checkbox-2">Terms and Conditions.*</label>
    <input type="checkbox" formControlName="terms" id="flex-checkbox-2" />
  </div>
  <hr />

  <button type="submit">Enviar</button>
</form>

<pre>Valid: {{ form.valid }}</pre>
<pre>Form: {{ form.value | json }}</pre>
<pre>Person: {{ person | json }}</pre>
<pre>Error in Checkbox Terms: {{ form.controls?.terms?.errors | json }}</pre>
