<h2>Validation - Register</h2>
<hr />

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- name -->
  <div class="form-control">
    <label for="">Name</label>
    <input type="text" formControlName="name" placeholder="Enter your FirstName and LastName" />
    <p class="error" *ngIf="validateField('name', 'required')">This field is required</p>
  </div>

  <!-- email -->
  <div class="form-control">
    <label for="">Email</label>
    <input type="text" formControlName="email" placeholder="Enter your Email Address" />
    <div class="error" *ngIf="validateField('email')">
      <p *ngIf="validateField('email', 'required')">This field is required</p>
      <p *ngIf="validateField('email', 'pattern')">The Email is not correct</p>
      <p *ngIf="validateField('email', 'emailTaken')">The Email Exists</p>
    </div>
  </div>

  <!-- username -->
  <div class="form-control">
    <label for="">UserName</label>
    <input type="text" placeholder="Enter your Username" formControlName="username" />
    <p class="error" *ngIf="validateField('username')">This field is required and 'not scooby'</p>
  </div>

  <!-- password -->
  <div class="form-control">
    <label for="">Password</label>
    <input type="password" formControlName="password" placeholder="Enter your Password" />
    <p class="error" *ngIf="validateField('password')">Password must be min 6 characters</p>
  </div>

  <!-- password-confirm -->
  <div class="form-control">
    <label for="">Password Confirm</label>
    <input type="password" formControlName="passwordConfirm" placeholder="Enter your Password Confirm" />
    <p class="error" *ngIf="validateField('passwordConfirm')">PasswordConfirm and Password must be same</p>
  </div>

  <button type="submit" [disabled]="form.pending" class="btn-success">Submit</button>
</form>

<hr />
<pre>Form Valid: {{ form.valid }}</pre>
<pre>Form Pending: {{ form.pending }}</pre>
<pre>Form Status: {{ form.status }}</pre>
<pre>Form Errors Global: {{ form.errors | json }}</pre>
<pre>Name Errors: {{ form.controls.name.errors | json }}</pre>
<pre>Email Errors: {{ form.controls.email.errors | json }}</pre>
<pre>Username Errors: {{ form.controls.username.errors | json }}</pre>
<pre>Password Errors: {{ form.controls.password.errors | json }}</pre>
<pre>Confirm Errors: {{ form.controls.passwordConfirm.errors | json }}</pre>
